.difference__info-cards .officer__card {
    width: 328px;
    min-height: 84px
}

.difference__info-cards .officer__card-title {
    width: 328px;
    padding: 26px 60px 24px 40px;
    font-weight: 900;
    line-height: 34px;
    font-size: 24px;
    letter-spacing: -.48px;
    background: #fff;
    border-radius: 8px;
    margin-top: 39px
}

.difference__info-cards .officer__card-title span {
    border-bottom: 2px solid #2546bc;
    color: #2546bc
}

.difference__info-cards .officer__card-item {
    width: 328px;
    min-height: 83px; 
    background: #fff;
    border-radius: 8px;
    margin-top: 17px;
    display: flex
}

.difference__info-cards .officer__card-item .card__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    /* height: 100%; */
    background: #fafafa;
    border-radius: 8px 0 0 8px;
    border-right: 1px solid rgba(0, 0, 0, .05);
    font-weight: 900;
    line-height: 34px;
    font-size: 24px;
    letter-spacing: -.48px;
    color: rgba(109, 83, 175, .34);
    mix-blend-mode: normal;
    text-align: center
}

.difference__info-cards .officer__card-item .card__descr {
    width: 243px;
    padding: 23px 55px 21px 25px;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: -.28px
}

.difference__info-cards .officer__card-item .card__click {
    width: 243px;
    font-weight: 700;
    line-height: normal;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around
}


.plus {
    position: relative;
    width: 28px;
    height: 28px;
    background: rgba(169, 202, 91, .2);
    mix-blend-mode: normal;
    border-radius: 100%;
    cursor: pointer
}

.plus__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    height: 20px;
    background: #9ec73d;
    border-radius: 100%
}

.plus__content:hover {
    box-shadow: 0px 0px 5px -1px #708d2b;
    width: 21px;
    height: 21px;
}

.plus__content svg {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}