.schedule {
    position: relative;
    height: 100vh;
    padding-top: 0;
    overflow: hidden;
}

.schedule__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    overflow: scroll;
}

.schedule__info {
    position: fixed;
    width: 54%;
    height: 100%;
    margin-left: 7%;
    padding-top: 87px;
    background: url(../../assets/img/talk_bg.jpg) center center no-repeat;
    background-size: cover
}

.schedule__info .title {
    color: #fff;
    margin-left: 66px
}

.schedule__info .subtitle {
    margin-left: 66px;
    margin-top: 28px;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: -.28px;
    color: #fff;
    mix-blend-mode: normal;
    opacity: .5
}

.schedule__info .colored {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 205px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    padding-left: 56px
}

.schedule__info .colored .video {
    width: 361px;
    height: 157px;
    background-color: rgba(216, 216, 216, .3);
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    margin-left: 10px;
    
}

.schedule__info .colored .video .play {
    width: 220px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.schedule__info .colored .contacts__mail,
.schedule__info .colored .contacts__phone {
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
    color: #fff;
    margin-bottom: 18px
}

.schedule__info .colored .contacts__links a {
    margin-right: 24px
}

@media screen and (max-width: 1024px) {
    .schedule__wrapper {
        display: block;
        overflow: scroll;
    }

    .schedule__info {
        width: 93%;
        
    }

    .schedule__info .colored {
        padding-right: 56px;
    }

}

@media screen and (max-width: 768px) {
    .schedule__wrapper {
        margin-top: 7%;
    }

    .schedule__info {
        width: 100%;
        margin-left: 0;
    }
    .schedule__info .colored {
        flex-direction: column-reverse;
    }

    .schedule__info .colored .contacts__mail, 
    .schedule__info .colored .contacts__phone ,
    .schedule__info .colored .contacts__links{
        margin-bottom: 0;
        text-align: center;
    }

    .schedule__info .colored .video {
        height: 74px;
        width: 230px;
    }
}

@media screen and (max-width: 1024px) {
    /* .schedule {
        overflow: scroll;
    }
    .schedule__wrapper {
        overflow: scroll;
    } */
    .schedule__info {
        position: relative;
    }

}
@media screen and (max-width: 480px) {
    .schedule__info .title {
        font-size: 2.8em;
    }
}