
.showup__content-slider {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-grow: 1;

}
.showup__content-slider-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    


}


.showup__content-slider .slick-prev {
    position: absolute;
    bottom: 0;
    left: -330px;
    width: 43px;
    height: 43px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer
}

.showup__content-slider .slick-prev svg {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-65%) translateY(-50%);
    transform: translateX(-65%) translateY(-50%)
}

.showup__content-slider .slick-next {
    position: absolute;
    bottom: 0;
    left: -280px;
    width: 43px;
    height: 43px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer
}

.showup__content-slider .slick-next svg {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-45%) translateY(-50%);
    transform: translateX(-45%) translateY(-50%)
}

.showup__content-slider .card {
    flex-shrink: 0;
    display: block;
    width: 307px;
    height: 227px;
    border-radius: 8px;
    padding: 32px;
    padding-top: 100px;
    overflow: hidden;
    /* transition: .5s all; */
    margin-right: 24px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
    
}

.showup__content-slider .card__controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 900;
    line-height: normal;
    font-size: 13px;
    opacity: .5;
    letter-spacing: 1.365px;
    text-transform: uppercase;
    transition: .5s all
}

.showup__content-slider .card__controls-arrow {
    opacity: 0;
    transition: .5s all
}

.showup__content-slider .card__title {
    font-weight: 900;
    line-height: normal;
    font-size: 24px;
    letter-spacing: -.48px;
    color: #fff;
    margin-top: 12px;
    opacity: .4;
    transition: 1s all
}

.showup__content-slider .card__description {
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: -.28px;
    margin-top: 16px;
    color: #fff;
    opacity: 0;
    transition: 1s all;
   
}

/* .showup__content-slider .card__1 {
    background: url(../../assets/img/slide_1_m.jpg) center center no-repeat;
    background-size: cover
}

.showup__content-slider .card__2 {
    background: url(../../assets/img/slide_2_m.jpg) center center no-repeat;
    background-size: cover
}

.showup__content-slider .card__3 {
    background: url(../../assets/img/slide_3_m.jpg) center center no-repeat;
    background-size: cover
} */

.showup__content-slider .slick-current.card__controls-arrow {
    opacity: 1
}

.showup__content-slider .slick-current.card__title {
    opacity: 1
}

.showup__content-slider .slick-current.card__description {
    opacity: .5
}