.schedule__form {
    width: 36%;
    height: 100%;
    padding-top: 100px;
    margin-left: 64%;
}
.schedule__form .form {
    padding-bottom: 30px;
}
.schedule__form .form .error {
    margin-top: 5px;
    font-size: 1em;
}

.schedule__form-title {
    font-weight: 800;
    line-height: 64px;
    font-size: 32px;
    letter-spacing: -.64px
}

.schedule__form .form__item {
    margin-top: 32px;
    width: 340px;
    position: relative
}

.schedule__form .form__item label {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: 900
}

.schedule__form .form__item input {
    width: 340px;
    height: 64px;
    background: rgba(216, 216, 216, .3);
    border-radius: 4px;
    border: none;
    margin-top: 11px;
    padding: 22px 24px 23px 24px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -.28px
}

.schedule__form .form__item input::-webkit-input-placeholder {
    color: #000
}

.schedule__form .form__item input::-ms-input-placeholder {
    color: #000
}

.schedule__form .form__item input::placeholder {
    color: #000
}

.schedule__form .form__item .icon {
    position: absolute;
    right: 24px;
    top: 55%
}

.schedule__form .form__item .icon-double {
    position: absolute;
    right: 45px;
    top: 53%
}

.schedule__form .form__item .icon-down {
    right: 24px;
    top: 62%
}

.schedule__form .form .btn {
    margin-top: 36px;
    background-color: #000;
    color: #fff;
    padding: 21px 66px 20px 66px;
    height: 57px;
    width: 189px;
}


@media screen and (max-width: 1024px) { 

    .schedule__form {
        width: 93%;
        margin-left: 7%;
        padding: 30px 0 30px 0;
        height: fit-content;
    }

    .schedule__form .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    .schedule__form-title {
        text-align: center;
    }

    .schedule__form .form__item {
        margin: 32px auto 0;
    }
    .schedule__form .form .btn {
        margin: 36px auto;
        
    }
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 768px) {
    .schedule__form {
        width: 100%;
        margin-left: 0;
        height: fit-content;
    }
}


