.difference {
    position: relative;
    height: 100vh;
    padding-top: 0;
    overflow: scroll
}

.difference__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.difference__info {
    width: 45%;
    min-height: 100%;
    height: fit-content;
    margin-left: 7%;
    padding-left: 66px;
    padding-top: 65px;
    padding-right: 90px;
    background-color: #2546bc;
    overflow: visible;
    position: relative
}

.difference__info .title {
    color: #fff
}

.difference__info .subtitle {
    margin-top: 13px;
    color: #fff;
    opacity: 1
}

.difference__info-cards {
    position: absolute;
    width: 688px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.difference__info-cards .officerold {
    width: 45%;
    height: 100%
}

.difference__info-cards .officernew {
    width: 45%;
    height: 100%
}

.difference__photo {
    width: 55%;
    height: 84vh;
    background: url(../../assets/img/main_light.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    top: 16vh;

}

@media screen and (max-width: 1024px) {
    .difference__info-cards {
        width: fit-content;
    }
    .difference__info-cards .officer__card-title,
    .difference__info-cards .officer__card-item {
        width: 300px;
    }

    .difference {
        overflow: scroll;
    }
}
@media screen and (max-width: 768px) {
    .difference__info {
        margin-left: 0;
        width: 100%;
        padding-top: 150px;
        padding-left: 0;
        padding-right: 0;
        height: 100%;

    }
    .difference__wrapper {
        margin-top: 7vh;
    }
    
    .difference__photo {
        display: none;
    }

    .difference__info .title,
    .difference__info .subtitle {
        text-align: center;
        
    }

    .menu {
        top:8%;
        padding: 0;
    }

    .menu .menu__block {
        justify-content: center;
    }
    .menu .menu__block-schedule {
        margin: 0;
    }
    .difference__info-cards {
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color:#2546bc;
        padding-bottom: 30px;
    }

    .difference__info-cards .officerold,
    .difference__info-cards .officernew {
        width: fit-content;
    }

}
