


.feed__item {
    flex-shrink: 0;
    width: 241px;
    min-height: 341px;
    border-radius: 8px;
    background-color: #fff;
    padding: 34px 40px 66px 40px;
    margin-right: 32px;
    border: 1px solid #2546bc;
    /* transition: .5s all */
}


.feed__item-info {
    display: block
}

.feed__item-info .photo {
    width: 116px;
    height: 116px;
    margin: 0 auto
}

.feed__item-info .photo img {
    width: 100%
}

.feed__item-info .author {
    padding-left: 0
}

.feed__item-info .author__name {
    font-weight: 900;
    line-height: normal;
    font-size: 20px;
    letter-spacing: -.48px;
    margin-top: 30px;
    text-align: center
}

.feed__item-info .author__profession {
    line-height: normal;
    font-size: 13px;
    letter-spacing: 1.365px;
    text-transform: uppercase;
    color: #2546bc;
    margin-top: 7px;
    display: none
}

.feed__item-info .author__preview {
    display: block;
    font-weight: 900;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    letter-spacing: -.28px;
    margin-top: 13px
}

.feed__item-info .author__from {
    display: none;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
    letter-spacing: -.26px;
    margin-top: 11px
}

.feed__item-info .author__from span {
    border-bottom: 1px solid #9f9f9f;
    padding-bottom: 2px
}

.feed__item hr {
    display: none
}

.feed__item-play {
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 20px
}
.feed__item-play:hover {
    cursor: pointer;
}

.feed__item-play .playvideo {
    width: 26px;
    height: 26px;
    border: 1.5px solid #6d53af;
    border-radius: 100%;
    position: relative;
    margin-right: 16px
}

.feed__item-play .playvideo svg {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%)
}

.feed__item-play .timing {
    line-height: normal;
    font-size: 13px;
    letter-spacing: 1.365px;
    text-transform: uppercase;
    color: #2546bc
}

.feed__item-descr {
    /* display: none; */
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: -.28px;
    margin-top: 26px;
    opacity: 0;
}

.feed__item-active {
    width: 555px;
    min-height: 380px;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 40px 50px 40px;
    transition: .3s all;
}

.feed__item-active hr {
    display: block;
    margin-top: 20px;
    opacity: .2;
    transition: 1s all;
}

.feed__item-active .feed__item-info {
    display: flex;
    align-items: flex-start;
    transition: 1s all;
    
}

.feed__item-active .feed__item-info .photo {
    width: 116px;
    height: 116px;
    margin: initial;
    transition: 1s all;
}

.feed__item-active .feed__item-info .photo img {
    width: 100%;
    transition: 1s all;
}

.feed__item-active .feed__item-info .author {
    padding-left: 32px;
    transition: 1s all;
}

.feed__item-active .feed__item-info .author__name {
    font-weight: 900;
    line-height: normal;
    font-size: 24px;
    letter-spacing: -.48px;
    margin-top: 0;
    transition: 1s all;
}

.feed__item-active .feed__item-info .author__profession {
    line-height: normal;
    font-size: 13px;
    letter-spacing: 1.365px;
    text-transform: uppercase;
    color: #2546bc;
    margin-top: 7px;
    display: block;
    transition: 1s all;
}

.feed__item-active .feed__item-info .author__preview {
    display: none;
    transition: 1s all;
}

.feed__item-active .feed__item-info .author__from {
    display: block;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
    letter-spacing: -.26px;
    margin-top: 11px;
    transition: 1s all;
}

.feed__item-active .feed__item-info .author__from span {
    border-bottom: 1px solid #9f9f9f;
    padding-bottom: 2px;
    transition: 1s all;
}

.feed__item-active .feed__item-play {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    transition: 1s all;
}

.feed__item-active .feed__item-play .playvideo {
    width: 26px;
    height: 26px;
    border: 1.5px solid #6d53af;
    border-radius: 100%;
    position: relative;
    margin-right: 16px;
    transition: 1s all;
}

.feed__item-active .feed__item-play .playvideo svg {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transition: 1s all;
}

.feed__item-active .feed__item-play .timing {
    line-height: normal;
    font-size: 13px;
    letter-spacing: 1.365px;
    text-transform: uppercase;
    color: #2546bc;
    transition: 1s all;
}

.feed__item-active .feed__item-descr {
    /* display: block; */
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: -.28px;
    margin-top: 26px;
    transition: 1s all;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .feed__item-active {
        width: 335px;
        padding-left: 20px;
        padding-right: 20px;
        height: 600px;
    }

    .feed__item-active .feed__item-info {
        flex-direction: column;
        align-items: center;
    }

    .feed__item-active .feed__item-info .author {
        padding-left: 0;
    }
    .feed__item-active .feed__item-info .author__profession,
    .feed__item-active .feed__item-info .author__from {
        text-align: center;
    }



}
