.showup {
    position: relative;
    height: 100vh;
}

.showup__prev {
    position: relative;
    margin-top: 30px;
    width: 43px;
    height: 43px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer
}

.showup__prev svg {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translateX(-65%) translateY(-50%)
}

.showup__next {
    position: relative;
    margin-top: 30px;
    margin-left: 5px;
    width: 43px;
    height: 43px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer
}


.showup__next svg {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translateX(-45%) translateY(-50%)
}

.showup__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between
}

.showup__intro {
    widows: 45%;
    margin-left: 84px;
    padding-left: 66px;
    padding-top: 24px;
    padding-right: 90px
}

.showup__intro .subtitle {
    margin-top: 13px
}

.showup__intro .btn {
    margin-top: 31px;
    color: #fff
}

.showup__author {
    position: absolute;
    top: 20px;
    left: 90px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer
}

.showup__author-name {
    font-size: 15px;
    font-weight: 700;
    color: #fff
}

.showup__author-position {
    font-size: 15px;
    color: #fff;
    opacity: .5
}

.showup__video {
    width: 48%;
    height: 100%;
    background: url(../../assets/img/mainbg.jpg) center center no-repeat;
    background-size: cover;
    position: relative
}

.showup__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 93%;
    height: 307px;
    background-color: #2546bc;
    position: absolute;
    bottom: 0;
    left: 7%;
    padding: 40px 0 40px 63px
}

.showup__content-title {
    color: #fff;
    font-size: 28px;
    line-height: 38px;
    font-weight: 900;
    letter-spacing: -.56px;
    margin-right: 43px;
    min-width: 260px;
}




.showup__content-explore {
    width: 250px;
    -webkit-transform: rotate(-90deg) translateY(-80px);
    transform: rotate(-90deg) translateY(-80px);
    display: flex;
    justify-content: space-between;
    align-items: center
}

.showup__content-explore .module {
    height: auto;
    width: 220px;
    font-weight: 700;
    line-height: normal;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase
}

.module {
    position: relative;
    height: 100vh;
    padding-top: 0;
    overflow: hidden
}

.play {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 150px;
    left: 100px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer
}



@media screen and (max-width: 1024px) {
    .showup__content {
       display: block;
       height: 357px;
       padding-top: 20px;
    }

    .showup__content-title {
        display: flex;
        padding-bottom: 20px;
        font-size: 1.6em;
    }
    .showup__content-title>div {
        position: fixed;
        left: 10%;
        bottom: 150px;

    }

    .showup__content-slider {
        margin-left: 10%;
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .showup{
        overflow: scroll;
    }
    .showup__wrapper{
        margin-top: 7vh;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: fit-content;
    }
    .showup__intro {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }
    .showup__intro .subtitle {
        margin-top: 0px;
    }
    .showup__intro .btn {
        margin-top: 0;
        height: 70px;
    }

    .showup__video {
        width: 70%;
        height: 30vh;
        flex-wrap: nowrap;
        margin-bottom: 30px;
    }

    .showup__video .play{
        top: 40%
    }

    .showup__content {
        position:static;
        width: 100%;
        height: fit-content;
        padding-right: 10px;
        padding-left: 10px;
      

    }
    .showup__content-slider {
        margin-left: 0;
        width: 307px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .showup__content-title{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .showup__content-title>div {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    .showup__intro {
        flex-direction: column;
        align-items: center;

    }
    .showup__intro-left .subtitle {
        margin-bottom: 20px;
    }
}